<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/styleuser.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  </head>
  <body>

    <div class="notion-app">
		<!-- beign control -->
		<div class="control">
            <!-- account -->
		  <div class="i-user">
				<div class="thumb"></div>
				<div class="u-name"></div>
		  </div>
          <!-- search-filter -->
		  <div class="se-fi">
			<div class="form-group">
				<div class="btn-group">
					<input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Tìm kiếm nhanh">
					<div class="btn btn-info">Tìm</div>
				</div>
			</div>

			<div class="form-group">
				<select class="custom-select" required>
					<option selected>Thứ tự mặc định</option>
					<option value="1">Nhiệm vụ đã hoàn thành</option>
					<option value="2">Thứ tự từ cũ đến mới</option>
					<option value="3">Thứ tự từ mới đến cũ</option>
				</select>
			</div>
		  </div>
          <!-- favorite -->
          <div class="favorite">
            <i class="fa fa-star"></i>
            <h5>Yêu thích</h5>
          </div>

          <!-- board -->
          <div class="board">
            <i class="fa fa-clipboard-list"></i>
            <h5>Bảng của tôi</h5>
            <i class="fa fa-plus"></i>
          </div>
        </div>
		<!-- begin-detail -->
		<div class="detail">
            <div class="head-user">
                <div class="h-user">
                    <div class="u-thumb"></div>
                    <div class="u-account">
                        <h5>Loan Cao Thi Phuong</h5>
                        <p>18521001@gm.uit.edu.vn</p>
                    </div>
                </div>
            </div>
			<div class="user-detail">
                <div class="user-name">
                    <div class="name-box">
                        <h6> TÊN NGƯỜI DÙNG </h6>
                        <p>Loan Cao Thi Phuong</p>
                    </div>
                    <div> 
                      <button type="button" class="btn btnname btn-secondary" data-toggle="modal" data-target="#modalName">
                        Thay đổi
                      </button>
                    </div>
                </div>
        
                <div class="email">
                    <div class="email-box">
                        <h6> EMAIL </h6>
                        <p>18521001@gm.uit.edu.vn</p>
                    </div>
                    <div> 
                      <button type="button" class="btn btnemail btn-secondary" data-toggle="modal" data-target="">
                        Thay đổi
                      </button>
                    </div>
                </div>
        
                <div class="password">
                    <div class="password-box">
                        <h6> MẬT KHẨU </h6>
                        <p>***************</p>
                    </div>
                    <div>
                      <button type="button" class="btn btnpass btn-secondary" data-toggle="modal" data-target="">
                        Thay đổi
                      </button>
                    </div>
                </div>
		</div>
	
	</div>
  <!-- modal layout -->
  <div class="modal fade" id="modalName" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- begin form -->
          <h5 class="modal-title" id="modalLabel">Thay đổi tên người dùng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="inputEmail">Tên người dùng</label>
              <input type="text" class="form-control" id="" placeholder="Nhập tên mới">
            </div>
            <div class="form-group">
              <label for="inputPassword">Mật khẩu</label>
              <input type="password" class="form-control" id="" placeholder="Nhập mật khẩu">
            </div>
          </form>
          <!-- end form -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary">Lưu</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>