<!doctype html>
<html lang="en">

<head>
    <title>taskonus</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/styleUser.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>

<body>
    <div class="notion-app">
        <!-- beign control -->
        <div class="control">
            <!-- account -->
            <div class="i-user">
                <div class="thumb"></div>
                <div class="u-name"></div>
            </div>
            <!-- search-filter -->
            <div class="se-fi">
                <div class="form-group">
                    <div class="btn-group">
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Tìm kiếm nhanh">
                        <div class="btn btn-info">Tìm</div>
                    </div>
                </div>

                <div class="form-group">
                    <select class="custom-select" required>
					<option selected>Thứ tự mặc định</option>
					<option value="1"> Nhiệm vụ đã hoàn thành</option>
					<option value="2"> Thứ tự từ cũ đến mới</option>
					<option value="3"> Thứ tự từ mới đến cũ</option>
				</select>
                </div>
            </div>
            <!-- favorite -->
            <div class="favorite">
                <i class="fa fa-star"></i>
                <h5>Yêu thích</h5>
            </div>

            <!-- board -->
            <div class="board">
                <i class="fa fa-clipboard-list"></i>
                <h5>Bảng của tôi</h5>
                <i class="fa fa-plus"></i>
            </div>
        </div>