<%- include('partials/introHeader.ejs') %>
<!-- begin header -->
<nav class="navbar" id="header">
    <!-- logo -->
    <img src="./img/Logo.png" width="83" height="58" alt=""/>
    <!-- ĐN-ĐK -->
    <form class="btg">
      <button class="btn btnĐN btn-outline-danger" type="submit">Đăng Nhập</button>
      <button class="btn btnĐK btn-danger" type="submit">Đăng Ký</button>
      </form>
  </nav>
  <!-- main -->
  <div class="main">
    <!-- row1 -->
    <div class="row row1">
      <div class="col-xl-6" id="content">
        <h4 class="">KHÔNG GIAN LÀM VIỆC HIỆU QUẢ</h4>
        <p class="pr1">Viết, lập kế hoạch và sắp xếp công việc theo tiến độ. Từ quản lý đến nâng cao hiệu suất làm việc, hoàn thành công việc với TaskOnUS.</p>
        <button type="button" class="btn btn-danger">Đăng ký ngay</button>
      </div>
      <div class="col-xl-6"><img src="./img/girl_work-1.png" class="img-fluid" alt="Placeholder image"></div>
    </div>
    <!-- row2 -->
    <div class="row row2">
      <div class="col-xl-6"><img src="./img/image 34.png" class="img-fluid rounded" alt="Placeholder image">&nbsp;</div>
      <div class="col-xl-6" id="content">
        <h4 class="">DỄ DÀNG LÊN KẾ HOẠCH</h4>
        <p class="">Với giao diện thân thiện và dễ sử dụng, giúp người dùng tạo và thay đổi lộ trình theo ý muốn.</p>
      </div>
    </div>
    <!-- row3 -->
    <div class="row row3">
      <div class="col-xl-6" id="content">
        <h4 class="">HOÀN TOÀN MIỄN PHÍ</h4>
        <p class="">Làm việc tốt hơn, suy nghĩ rõ ràng và có tổ chức hơn.</p>
        <button type="button" class="btn btn-danger">Bắt đầu ngay</button>
      </div>
      <div class="col-xl-6"><img src="./img/boy_speaking.png" class="img-fluid" alt="Placeholder image"></div>
    </div>
  </div>
  <%- include('partials/intropageFooter.ejs') %>