<%- include('partials/userHeader.ejs') %>
    <div class="detail">
        <div>
            <div>
                <h3>Board name</h3>
            </div>
            <div class="date-created">
                <img src="/images/tasks.png" alt="">
                <h4>Ngày tạo: 30/5/2021 10:25</h4>
            </div>
            <div>
                <hr>
            </div>
        </div>
    </div>
    <%- include('partials/userFooter.ejs') %>