<%- include('partials/notaskHeader.ejs') %>
<div class="notion-app">
    <!-- beign control -->
    <div class="control">
        <!-- account -->
      <div class="i-user">
            <div class="thumb"></div>
            <div class="u-name">KTW</div>
      </div>
      <!-- search-filter -->
      <div class="se-fi">
        <div class="form-group">
            <div class="btn-group">
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Tìm kiếm nhanh">
                <div class="btn btn-info">Tìm</div>
            </div>
        </div>

        <div class="form-group">
            <select class="custom-select" required>
                <option selected>Thứ tự mặc định</option>
                <option value="1">Nhiệm vụ đã hoàn thành</option>
                <option value="2">Thứ tự từ cũ đến mới</option>
                <option value="3">Thứ tự từ mới đến cũ</option>
            </select>
        </div>
      </div>
      <!-- favorite -->
      <div class="favorite">
        <i class="fa fa-star"></i>
        <h5>Yêu thích</h5>
      </div>

      <!-- board -->
      <div class="board">
        <i class="fa fa-clipboard-list"></i>
        <h5>Bảng của tôi</h5>
        <i class="fa fa-plus"></i>
      </div>
    </div>

    <!-- begin-detail -->
    <div class="detail">
    <div class="i-welcome">
      <img src="./img/welcome_img-2.png" alt="" style="display: block; width: 50%; margin-left: auto; margin-right: auto; margin-top: 40px;">
    </div>
    <div class="text-welcome">
      <h3>Chào mừng bạn đến với TaskOnUs!</h3>
      <p>Bạn chưa có task nào hết?</p>
      <button type="button" class="btn btnstart btn-outline-primary">Bắt đầu</button>
    </div>
   

    </div>
</div>
<%- include('partials/notaskFooter.ejs') %>