.control .statis {
    display: flex;
    margin: 20px 0;
    background-color: #ECDDD7;
    padding: 8px 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.control .statis h5 {
    padding-left: 10px;
    cursor: pointer;
}

.control .statis .fa-signal {
    color: brown;
    font-size: 25px;
}

.timkiem {
    margin-left: 740px;
    margin-top: 38px;
}

.board .addform {
    cursor: pointer;
}


/***************/

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container .item1 {
    grid-column: 1/2;
    padding: 50px 0 0 20px;
}